<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>v-if | v-else-if | v-else</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id = "app">
	<div v-html="title"></div>
	<input type="text" v-model="grade">
	
	<template v-if="grade=='A'">
		<div>grade</div>
		<div>값이</div>
		<div>A인 경우이다</div>
	</template >
	
	<template v-else>
		<div>grade</div>
		<div>값이</div>
		<div>A가 아닌 경우이다</div>
	</template >
	


<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{
			title:'Banana',
			grade:'A'
		}
	});

</script>
</body>
</html>